{% extends "header.html" %}

{% block img %}
      width:500px;
      height:800px;
{% endblock %}


{% block body %}

    <div class="container" style="height:100%;padding-top:10px">
      <div class="well">
        <div class="row">
          <div class="col-md-6">
              {% if res.profile_pic == None %}

                  <img class="img-responsive" src="http://ia.media-imdb.com/images/G/01/imdb/images/nopicture/medium/name-2135195744._CB522736367_.png" alt="Actor Poster">

              {% else %}

                  <img class="img-responsive" src="{{ 'https://image.tmdb.org/t/p/w1000' + res.profile_pic }}" alt="Actor Poster">

              {% endif %}
          </div>
          <div class="col-md-5">
            <ul style="text-align:left">
              <li>{{ res.name }}</li><br>
              <li>{{ res.place_of_birth }}</li><br>
              <li>{{ res.biography }}</li><br>
              <li>{{ res.birthday }}</li><br>
              <li>{{ res.deathday }}</li><br>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <h4>Known for:</h4>

    <div class="container" style="height:100%;padding-top:10px">
      <div class="well">
        <div class="row">
          <div class="col-md-5">
            <ul class="none-bullet">
              {% for movie in movies %}
                
                  <li><img id=profilePic src="{{ movie.poster }}" alt="Movie Poster">&nbsp;&nbsp;&nbsp;<a href="{{ url_for('info', path = 'movies', object_id = movie.id) }}">{{ movie.title }}</a></li>
                  <br>
                    
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>

{% endblock %}