{% extends "header.html" %}
{% block head %}
  <style>
  #login .input-group {
  position: relative;
  margin: 40px 0 20px;
  }
  
  #login input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  border: none;
  border-bottom: 1px solid #d9d9d9;
  left: auto;
  width:400px;
  max-width: 100%;
  }
  
  #login textarea {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  border: none;
  border-bottom: 1px solid #d9d9d9;
  left: auto;
  width:400px;
  max-width: 100%;
  }
  
  #login input:focus {
  outline: none;
  }
  
  #login textarea:focus {
  outline: none;
  }
  
  #login label {
  color: #8c8c8c;
  font-size: 18px;
  font-family: Bree Serif;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
  }
  
  #login input:focus ~ label,
  #login input:valid ~ label {
  top: -20px;
  font-size: 20px;
  color: #8c8c8c;
  font-family: Bree Serif;
  }
  
  #login textarea:focus ~ label,
  #login textarea:valid ~ label {
  top: -20px;
  font-size: 20px;
  font-family: Bree Serif;
  color: #8c8c8c;
  }
  
  #login .bar {
  position: relative;
  display:block;
  width:315px;
  width: 100%;
  height: auto;
  }
  
  #login .bar:before,
  #login .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #d9d9d9;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
  }
  
  #login .bar:before {
  left: 50%;
  }
  
  #login .bar:after {
  right: 50%;
  }
  
  input:focus ~ .bar:before,
  input:focus ~ .bar:after {
  width: 50%;
  }
  
  textarea:focus ~ .bar:before,
  textarea:focus ~ .bar:after {
  width: 50%;
  }
  
  #login .highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
  }
  
  #login  input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
  }
  
  #login  textarea:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
  }
  /* animations */
  @-webkit-keyframes inputHighlighter {
  from { background: #d9d9d9; }
  to   { width: 0; background: transparent; }
  }
  @-moz-keyframes inputHighlighter {
  from { background: #d9d9d9; }
  to   { width: 0; background: transparent; }
  }
  @keyframes inputHighlighter {
  from { background: #d9d9d9; }
  to   { width: 0; background: transparent; }
  }
  </style>
{% endblock %}
{% block img %}
  width:250px;
  height:390px;
{% endblock %}
{% block body %}
  <body>
    <!-- Login -->
    <section class="about-section" style="height:100%;padding-top:100px" id="login">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-lg-offset-3">
            <div class="well">
              <center>
              <h2>Login</h2>
              <br/>
              <!-- Avatar -->
              <img class="img-responsive img-circle center-image"  src="http://trenchlessleakdetection.com/wp-content/themes/trenchless-leak-detection/images/unknown-speaker.gif" alt="user-avatar">
              <form action="" style="display: block; margin: auto;" method="POST">
                <!-- User name -->
                <div class="input-group">
                  <input type="text" name="username" value="{{ request.form.username }}">
                  <span class="highlight"></span>
                  <span class="bar"></span>
                  <label><i class="fa fa-user" aria-hidden="true" style="color:#8c8c8c"></i>  Username</label>
                </div>
                <!-- Password -->
                <div class="input-group">
                  <input type="password" name="password" value="{{ request.form.password }}">
                  <span class="highlight"></span>
                  <span class="bar"></span>
                  <label ><i class="fa fa-key" aria-hidden="true" style="color:#8c8c8c"></i> Password</label>
                </div>
                <!-- Button -->
                <div class="input-group">
                  <button type="submit" class="btn" style="center:100px" type="background-color:#d9d9d9"><i class="fa fa-sign-in" aria-hidden="true"></i><span style="font-family:Bree Serif"> Login</span></button>
                </div>
              </form>
              </center>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
{% endblock %}