{% extends "header.html" %}

{% block head %}
	width: 100px;
	height: 135px;
{% endblock %}

{% block body %}

<body>
	<table id="movietable" class="table table-hover" cellspacing="0" cellpadding="0">
		<thead>
			<tr><th></th><th><span>Title</span></th><th><span>Year</span></th><th><span>Rating</span></th></tr>
		</thead>

		<tbody>
			{% for movie in res %}
				<tr>
				<td><a href= "{{ url_for('info', path = 'movies', object_id = movie.id) }}"><img src="{{ movie.poster }}"/></a></td>
				<td class="lalign"><a href= "{{ url_for('info', path = 'movies', object_id = movie.id) }}">{{ movie.title }}</a></td>
				<td>{{ movie.year }}</td>
				<td>{{ movie.rating }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</body>

{% endblock %}