{% extends "header.html" %}

{% block img %}
      width:250px;
      height:390px;
{% endblock %}


{% block body %}

<head>

	<script type="text/javascript">
    $(document).ready(function() {
	    $('#watchlistbutton').click(function() {
	            // alert($(this).val());
	            $.ajax({
	            	url: '{{ url_for('modify_watchlist') }}', 
	            	data: { movieid: {{ res.id }} } 
	            });
				   return false;
	        });
	    });

	function changeText(){
        $('#watchlistbutton').val($('#watchlistbutton').val() == 'Add to Watchlist' ? 'Remove from Watchlist' : 'Add to Watchlist');
    }

    function credentialRequired(){
        $('#loginrequired').text('You need to login first.')
    }

	</script>

</head>

<body>

    <h2><strong>{{ res.title }} (<a href="{{ url_for('index', query_type = 'year', path = res.year) }}">{{ res.year }}</a>) </strong></h2>

    <div class="container" style="height:100%;padding-top:20px">
      <div class="well">
        <div class="row">
          <div class="col-md-6">
              <img class="img-responsive" src="{{ res.poster }}" alt="Movie Poster">

              {% if session.logged_in %}
              <input id="watchlistbutton" type="button" name="add" value="{{ btn }}" onclick="changeText()">
              {% else %}
              <input id="guestbutton" type="button" name="add" value="{{ btn }}" onclick="credentialRequired()">
              <p id=loginrequired></p>
              {% endif %}
          </div>
          <div class="col-md-5">
            <ul class="none-bullet" style="text-align:left">
              <h3><li><strong>{{ res.rating }}/10 </strong>({{ res.votes }} votes)</li></h3>
              <br>
              <div class="input-group">
                <input type="text" class="form-control" name="rate" placeholder="Your rating" value=""/>
                <div class="input-group-btn">
                  <button class="btn btn-default" type="submit">Rate</button>
                </div>
              </div>
              <br>
              <li><strong>Genre: </strong><a href="#">{{ res.genre }}</a></li>
              <br>
              <li><strong>Plot: </strong>{{ res.plot }}</li>
              <br>
              <li><strong>Director: </strong>{{ res.director }}</li>
              <br>
              <li><strong>Writer: </strong>{{ res.writer }}</li>
              <br>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <h3 style="padding-left:30px">Top billed casts:</h3>
            <hr class="hr1"/>
              <ul class="none-bullet">
                {% for actor in actors %}

                  {% if actor.profile_pic == None %}
                    <li class="inline-display" style="margin: 0 10px"><a href="{{ url_for('info', path = 'actors', object_id = actor.id) }}">
                    <figure class="figure">
                      <img style="width:120px;height:170px;border-radius:20%" class="center-image figure-img img-fluid rounded img-responsive" src="http://ia.media-imdb.com/images/G/01/imdb/images/nopicture/medium/name-2135195744._CB522736367_.png" alt="Actor Poster">
                      <figcaption class="figure-caption"><center><a href="{{ url_for('info', path = 'actors', object_id = actor.id) }}">{{ actor.name }}</a></center></figcaption>
                    </figure>
                    </a>
                    </li>
                  {% else %}
                    <li class="inline-display" style="margin: 0 10px"><a href="{{ url_for('info', path = 'actors', object_id = actor.id) }}">
                    <figure class="figure">
                      <img style="width:120px;height:170px;border-radius:20%" class="center-image figure-img img-fluid rounded img-responsive" src="{{ 'https://image.tmdb.org/t/p/w1000' + actor.profile_pic }}" alt="Actor Poster">
                      <figcaption class="figure-caption"><center><a href="{{ url_for('info', path = 'actors', object_id = actor.id) }}">{{ actor.name }}</a></center></figcaption>
                    </figure>
                    </a>
                    </li>
                  {% endif %}

                {% endfor %}
              </ul>
        </div>
      </div>
    </div>
</body>
    


{% endblock %}