{% extends "header.html" %}

{% block head %}
  		width:64px;
    	height:86px;
{% endblock %}


{% block body %}
<body>
	<table class="table table-hover">

		{% if p1 == 'year' and p2 == 'asc' %}
			<p>SORT BY:
				<a href="{{ url_for('sort_movies', p1 = 'rating', p2 = 'asc') }}" class="dropup">Rating<span class="caret"></span></a>
				<span>|</span>
				<a href="{{ url_for('sort_movies', p1 = 'year', p2 = 'desc') }}" class="dropup"><ins><strong>Release Year</strong></ins><span class="caret"></span></a>
			</p>

			<tbody>
				<th></th><th>Title</th><th>Rating</th>
				{% for movie in res | sort(attribute = 'year') %}
					<tr>
					<td><a href= "{{ url_for('info', path = 'movies', object_id = movie.id) }}"><img src="{{ movie.poster }}"/></a></td>
					<td><a href= "{{ url_for('info', path = 'movies', object_id = movie.id) }}">{{ movie.title }} ({{ movie.year }})</a></td>
					<td> {{movie.rating}}</td>
					</tr>
				{% endfor %}
			</tbody>
		{% endif %}

		{% if p1 == 'year' and p2 == 'desc' %}
			<p>SORT BY:
				<a href="{{ url_for('sort_movies', p1 = 'rating', p2 = 'asc') }}" class="dropup">Rating<span class="caret"></span></a>
				<span>|</span>
				<a href="{{ url_for('sort_movies', p1 = 'year', p2 = 'asc') }}" class="dropdown"><ins><strong>Release Year</strong></ins><span class="caret"></span></a>
			</p>

			<tbody>
				<th></th><th>Title</th><th>Rating</th>
				{% for movie in res | sort(attribute = 'year', reverse = True) %}
					<tr>
					<td><a href= "{{ url_for('info', path = 'movies', object_id = movie.id) }}"><img src="{{ movie.poster }}"/></a></td>
					<td><a href= "{{ url_for('info', path = 'movies', object_id = movie.id) }}">{{ movie.title }} ({{ movie.year }})</a></td>
					<td> {{ movie.rating }}</td>
					</tr>
				{% endfor %}
			</tbody>
		{% endif %}

		{% if p1 == 'rating' and p2 == 'asc' %}
			<p>SORT BY:
				<a href="{{ url_for('sort_movies', p1 = 'rating', p2 = 'desc') }}" class="dropup"><ins><strong>Rating</strong></ins><span class="caret"></span></a>
				<span>|</span>
				<a href="{{ url_for('sort_movies', p1 = 'year', p2 = 'desc') }}" class="dropup">Release Year<span class="caret"></span></a>
			</p>

			<tbody>
				<th></th><th>Title</th><th>Rating</th>
				{% for movie in res | sort(attribute = 'rating') %}
					<tr>
					<td><a href= "{{ url_for('info', path = 'movies', object_id = movie.id) }}"><img src="{{ movie.poster }}"/></a></td>
					<td><a href= "{{ url_for('info', path = 'movies', object_id = movie.id) }}">{{ movie.title }} ({{ movie.year }})</a></td>
					<td> {{ movie.rating }}</td>
					</tr>
				{% endfor %}
			</tbody>
		{% endif %}

		{% if p1 == 'rating' and p2 == 'desc' %}
			<p>SORT BY:
				<a href="{{ url_for('sort_movies', p1 = 'rating', p2 = 'asc') }}" class="dropdown"><ins><strong>Rating</strong></ins><span class="caret"></span></a>
				<span>|</span>
				<a href="{{ url_for('sort_movies', p1 = 'year', p2 = 'desc') }}" class="dropup">Release Year<span class="caret"></span></a>
			</p>

			<tbody>
				<th></th><th>Title</th><th>Rating</th>
				{% for movie in res | sort(attribute = 'rating', reverse = True) %}
					<tr>
					<td><a href= "{{ url_for('info', path = 'movies', object_id = movie.id) }}"><img src="{{ movie.poster }}"/></a></td>
					<td><a href= "{{ url_for('info', path = 'movies', object_id = movie.id) }}">{{ movie.title }} ({{ movie.year }})</a></td>
					<td> {{ movie.rating }}</td>
					</tr>
				{% endfor %}
			</tbody>
		{% endif %}

	</table>
</body>
{% endblock %}