{% extends "header.html" %}

{% block head %}
  	width:100px;
    height:135px;
{% endblock %}


{% block body %}

<body>

	<h1>{{ name }}'s Watchlist:</h1>
	<br>
	<br>

	<table id="movietable" class="table table-hover">

		<thead>
			<tr><th></th><th><span>Title</span></th><th><span>Year</span></th><th><span>Rating</span></th></tr>
		</thead>

		<tbody>
			{% for movie in watchlist %}
				<tr>
				<td><a href= "{{ url_for('info', path = 'movies', object_id = movie.id) }}"><img src="{{ movie.poster }}"/></a></td>
				<td class="lalign"><a href= "{{ url_for('info', path = 'movies', object_id = movie.id) }}">{{ movie.title }}</a></td>
				<td>{{ movie.year }}</td>
				<td>{{ movie.rating }}</td>
				</tr>
			{% endfor %}
		</tbody>

	</table>

</body>
{% endblock %}